@import url('splash.css');
@import url('menu.css');
@import url('font-awesome.min.css');
@import url('bootstrap.min.css');
@import url('searchbox.css');
@import url('map.css');
@import url('form-register.css');
@import url('contact-buttons.css');
@import url('preloader.css');
/*@import url('animate.min.css');
@import url('component.css');*/

/* GLOBAL */
body {
	font-family: 'Abel', sans-serif;
	color: #222222;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: none;
	margin: 0px;
	font-size:14px;
	background-color:#0f2b50;
}
#main_cc_coupon {
	display:none !important;
	z-index:-1000000000;
}

a {
	outline: none !important;
}
a[href^="tel:"] {
  color:green;
}

a[href^="tel:"]:before {
  content: "\f098";
  margin-right: 0.5em;
  color:#ffa500;
  font-family: FontAwesome;
}

.my-container {
	width: 100%;
	margin-top: 51px;
}
.main {
	width: 100%;
	margin: auto;
}
.clear {
	clear: both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
* {
	margin: 0px;
}
.main_menu_bg, body.details {
	background-color:#0f2b50;
}

#heading span{font-family: 'Abel', sans-serif !important;}

div#preheader .jumbotron li:nth-of-type(2) a{
    padding-right: 10px !important;
	padding-top:12px !important;
	display:inline-block;
	font-size:1.5em;
}

/* mainPage grid styles */
	.welcome-slider #jssor_1 div.tableBlock div.tableCell, .welcome-slider #jssor_1 div.tableBlock div.tableCell2 {
    display: table-cell !important;
    padding: 10px;
	vertical-align:middle;
	text-align:center;
	font-family: 'Abel', sans-serif;
	font-size:16px;
	color:#000;
	}
	.welcome-slider #jssor_1 div.tableBlock.full div.tableCell {
		width: 40% !important;
	}
	.welcome-slider #jssor_1 div.tableBlock.full div.tableCell2 {
		width: 60% !important;
	}	

	div#tableWrap {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
	}

	div#tableWrap div.tableBlock div.tableRow {
		display: flex;
		flex: 1;
		/* margin: 5px; */
	}

	div#tableWrap div.tableBlock div.tableRow div.tableCell {
		/* margin-right: 5px; */
		/* flex: 1; */
		width: 35%;
		display: flex;
		flex: 1;
		flex-flow: column wrap;
		justify-content: center;
		align-content: stretch;
		align-items: center;
		padding: 10px;
		font-family: 'Abel', sans-serif;
    	font-size: 16px;
		color:#000000;
	}

	div#tableWrap > div:nth-child(2) > div > div.tableCell {
		display: flex;
		flex-flow: column wrap;
		flex: 1;
	}
	#tableWrap > div.tableBlock div div.tableCell > a > div > div > div > img {
		display:block;
		margin:0 auto;
	}

	div#tableWrap > div  div div.tableCell.nopad div {
		display: flex;
		flex-flow: column;
		flex: 1;
	}

	div#tableWrap > div > div > div.tableCell > div.tableBlock div.tableRow {
		display: flex;
		flex: 1;
		align-items: stretch;
	}

	div#tableWrap > div div div.tableCell.nopad div div.tableRow a {
		display: flex;
		flex: 1;
	}

	div#tableWrap div.tableBlock div.tableRow div.tableCell2 {
		flex-grow: 1.25;
	}

	div.tableCell a, div.tableCell2 a {
		display: flex;
		flex: 1;
		width: 100%;
		height: 100%;
	}

	div#tableWrap > div.tableBlock {
		margin: 5px 5px 0px 5px;
	}
	div#tableWrap > div.tableBlock:nth-child(4) {
		margin-bottom:5px;
	}

	div#tableWrap div.tableBlock {
		display:flex;
	}

	#tableWrap > div.tableBlock > div.tableRow > div.tableCell:nth-child(1), #tableWrap > div.tableBlock > div.tableRow > div.tableCell2:nth-child(1) {
		margin-right: 5px;
	}

	#tableWrap > div > div > div.tableCell.nopad > div div div.tableCell {
		width: 100%;
		padding: 10px !important;
		flex-flow:column;
	}

	.tableCell.nopad {
		padding: 0px !important;
	}

	#tableWrap > div > div > div.tableCell > a > div > div > div {
		padding: 0 !important;
	}
/* mainpage grid styles ends	 */



.finedine #placeblocks .text ul li:nth-of-type(2) > span:first-child, .finedine #placeblocks #id02 div p, .finedine #placeblocks #id05 h2, .finedine ul.listings li a section aside h4 {
    color: #b65c39 !important; font-weight:bold !important;
}
.history #placeblocks .text ul li:nth-of-type(2) > span:first-child, .history #placeblocks #id02 div p, .history #placeblocks #id05 h2, .history ul.listings li a section aside h4 {
    color: #c647bb !important; font-weight:bold !important;
}
.hotelslodging #placeblocks .text ul li:nth-of-type(2) > span:first-child, .hotelslodging #placeblocks #id02 div p, .hotelslodging #placeblocks #id05 h2, .hotelslodging ul.listings li a section aside h4 {
    color: #27aef5 !important; font-weight:bold !important;
}
.lifestyle #placeblocks .text ul li:nth-of-type(2) > span:first-child, .lifestyle #placeblocks #id02 div p, .lifestyle #placeblocks #id05 h2, .lifestyle ul.listings li a section aside h4 {
    color: #085ac0 !important; font-weight:bold !important;
}
.placesofinterest #placeblocks .text ul li:nth-of-type(2) > span:first-child, .placesofinterest #placeblocks #id02 div p, .placesofinterest #placeblocks #id05 h2, .placesofinterest ul.listings li a section aside h4 {
    color: #448802 !important; font-weight:bold !important;
}
.upcomingevents #placeblocks .text ul li:nth-of-type(2) > span:first-child, .upcomingevents #placeblocks #id02 div p, .upcomingevents #placeblocks #id05 h2, .upcomingevents ul.listings li a section aside h4 {
    color: #fbaa20 !important; font-weight:bold !important;
}
.yogacenter #placeblocks .text ul li:nth-of-type(2) > span:first-child, .yogacenter #placeblocks #id02 div p, .yogacenter #placeblocks #id05 h2, .yogacenter ul.listings li a section aside h4 {
    color: #f7502a !important; font-weight:bold !important;
}
.localfavorites #placeblocks .text ul li:nth-of-type(2) > span:first-child, .localfavorites #placeblocks #id02 div p, .localfavorites #placeblocks #id05 h2, .localfavorites ul.listings li a section aside h4 {
    color: #14bec4 !important; font-weight:bold !important;
}

body > div.my-container > div > div ul.search-result > h2 {
	font-weight:normal;
	color:#ffffff;
	font-size:1.15em;
	width:100%;
}
/* Collapsible pannel styles */
.main-content{
	margin:0 auto;
	width:100%;
	padding:7px;
}
.panel-title{
	color:#222222;
}
.panel-title i {
	float:right;
}

.panel-default>.panel-heading, .panel-default a >.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body, .panel-default .panel-collapse >.panel-body {
    border-top-color: #ddd;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body, .panel-default .panel-collapse >.panel-body {
    border-top: 1px solid #ddd;
}
.panel-group .panel+.panel {
    margin-top: 2px;
}

/* Collapsible panel styles end */

.iconText {
	text-align:center;
	}

.bottommenu
{
	height: 40px !important;
	position:fixed;
	background-color:#000000;
	z-index:10000000000 !important;
	width:100%;
	bottom:0px;
}

#bm_ul {width:100% !important;}
#bm_ul li {float:left !important; width:33.33333% !important; text-align:center !important; padding-top:10px !important;}
#bm_ul li i {
	font-size:1.5em;
}
.full {
	width:100% !important;
	}
body > div.my-container > ul.flex {
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-content:stretch;
}

body > div.my-container > ul.flex li.flex-items {
	background:white;
	display:flex;
	width:35%;
	align-items:center;
	margin:.3em;
}
ul.flex li.grow-2 {
	flex-grow:2;
}
body > div.my-container > ul.flex li.flex-items div {
	text-align:center;
	flex:1;
}
body > div.my-container > ul li figure {
	
}
body > div.my-container > ul li p {

}


.hide {
	display:none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/*li {
	float: left;
}*/
/*div#id03 div#details p, div#id03 div#details div {
	color:red !important; 
	font-family: 'Abel', sans-serif !important;
	font-size:16px !important; 
	text-align: justify !important; 
	padding:10px !important;
	background-color:rgba(255, 255, 255,0) !important;	
	}*/
#tabs #id03 {
	padding: 10px 10px 50px;
}	
div#id04 div#details > div {
	padding:10px !important;
	}	
div#id04 div#details > div, div#id04 div#details > div em, div#id04 div#details div span, div#id04 div#details div div,  div#id04 div#details p, div#id04 div#details p span, div#id04 div#details p div,  div#id04 div#details p div span, #id05 div ul li {
	color:#222222 !important; 
	font-family: 'Abel', sans-serif !important;
	font-size:16px !important; 
	text-align: justify !important; 
	background-color:rgba(255, 255, 255,0) !important;
	font-style: normal !important;
	}

#id05 {margin:0px 0px 15px 0px;}
#id05 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
 
#id05 h2, #id02 > div:nth-child(1) > p:nth-child(1) {
	color:#448802; 
	font-family: 'Abel', sans-serif; 
	font-size:1.15em; 
	font-weight:bold; 
	padding:10px;
}

#id05 div ul li {
    float: none;
    padding-left: 20px;
    color: #222222;
    font-size: 1.25em;
}

.toggle {
	padding: 20px;
}
.title {
	color: #ffffff;
	font-size: 50px;
	padding-top: 14px;
	padding-left: 30px;
}
.clear {
	clear: both;
}

.logo
{
	height: 50px !important;
	position:fixed;
	background-color:#000000;
	z-index:10000000000 !important;
	width:100%;
	top:0px;
}

#menublocks {margin: 7px; overflow: hidden !important;}
#menublocks .wid40 {width:38%; float:left; text-align:center; height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
#menublocks .wid60 {width:60%; float:right; text-align:center; height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
.images40 {width:39.5% !important; height:auto !important;}
.images60 {width:25% !important; height:auto !important;}

#menublocks2 {margin: 7px 7px !important;overflow: hidden !important;}
#menublocks2 .wid60 {width:38%; float:right; text-align:center;}
#menublocks2 .wid40 {width:60%; float:left; text-align:center;height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
#menublocks2.images60 {width:39.5% !important; height:auto !important;}
#menublocks2.images40 {width:25% !important; height:auto !important;}

#menublocks3 {margin: 7px 7px 10px 7px !important; overflow: hidden !important;}
#menublocks3 .wid40 {width:38%; float:left; text-align:center; height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
#menublocks3 .wid60 {width:60%; float:right; text-align:center; height: 100% !important;padding-bottom: 10em !important;margin-bottom: -10em;}
.images40 {width:39.5% !important; height:auto !important;}
.images60 {width:25% !important; height:auto !important;}

#rightblocks {width:auto !important; margin:0 auto;/*! float: right; */padding-bottom: 10em;margin-bottom: -10em;}
#rightblocks ul {list-style-type: none;margin: 0; padding: 0; width:38%; text-align:center; float:right;}
#rightblocks .wid60 {width:60%; float:right; text-align:center;}

/*#menublocks3 {margin: 0px 7px 10px 7px !important;}
#menublocks3 ul { list-style-type: none; margin: 0;	padding: 0;	overflow: hidden;}
#menublocks3 li {float: left;}
#menublocks3 .wid60 {width:60%; text-align:center;}
#menublocks3 .wid40 {width:38%;  text-align:center;}
#menublocks3.images60 {width:39.5% !important; height:auto !important;}
#menublocks3.images40 {width:25% !important; height:auto !important;}*/

#blocks { width:auto; margin: -3px 7px 7px 7px !important;overflow: hidden !important;}
#blocks .text {font-size: inherit; color: #ffffff; padding:12px;}

#heading {width:auto; margin: 7px 7px 0px 7px !important;overflow: hidden !important;}

#placeblocks { width:auto; margin: 1px !important;overflow: hidden !important;}
#placeblocks .text {font-size: inherit; color: #ffffff; padding:12px;}
#placeblocks .detailblock {font-size: inherit; color: #ffffff; padding:10px 0px;}
#placeblocks ul { list-style-type: none; margin: 0;	padding: 0;	overflow: hidden;}
#placeblocks li {float: left;}
#placeblocks .img {width:80%;}
#placeblocks ul li ul li:nth-of-type(1) {
    background: url(../images/ratings_bg.png) 0px 2px no-repeat;
    width: 53px;
    height:16px;
}
#placeblocks ul li ul li:nth-of-type(2)::after{
	content: "\00a0";
}
ul.listings li.list-items a {
	padding:10px;
	color: #222222;
	font-family: 'Abel', sans-serif;
	font-size:1em;
	background:white;
	margin-bottom:1px;
}
ul.listings li a section > figure {
	float:left;
	width:35%;
	height:75px;
}
ul.listings li a section > figure > img {
	width:100%;
	height:100%;
}
ul.listings li a section aside {
	float:right;
	width:60%;
}
ul.listings li a section aside h4 {
	margin-top:0px;
}
ul.listings li a section aside p {
	color: #222222;
	font-family: 'Abel', sans-serif;
}
ul.listings li a section aside figure {
    background: url(../images/ratings_bg.png) 0px 2px no-repeat;
    width: 56px;
    height:16px;
    float:left;	
}

#placedetailbanner {width:auto; margin: 0px !important;overflow: hidden !important;}
#box1 {
	/* width: 98%; */
	margin: auto;
	opacity: 0.9;
}
.iconText { font-size: inherit; color: #ffffff; padding:35px 0px;}
.searchoutline{outline:none !important;}

/* Toggle Map styles*/
#mapToggle {
 border-radius:5px;
 background-color:#989999;
 color:#fff;
 padding:10px;
 cursor:pointer;
 width: 97%;
 margin: 0 auto;
 box-sizing: border-box;
 }
#mapToggle i {
 float:right;
 } 
/* Toggle Map styles ends*/

.welcome-slider {
	width:98%;
	margin:5px auto 0px;
}
.welcome-slider #jssor_1{
	background:white;
}
.welcome-slider #jssor_1 > div > div > div:nth-child(2) > div.tableWrap > div.tableBlock.full {
	background:white;
}
#jssor_1 > div > div > div:nth-child(2) > div.tableWrap > div.tableBlock.full {
	border-spacing:0px;
}
.welcome-slider #jssor_1 div div div div div.tableBlock.full div div h1 {
	font-size:1.5em !important;
	font-weight:bold !important;
	text-align:left;
}
.welcome-slider #jssor_1 div div div div div.tableBlock.full div div p {
	font-size:1.5em !important;
	text-align:left;
}


#jssor_1 > div > div > div div img {
	width:100% !important;
	height:auto !important;
}


.jssorb05 {
	position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	/* size of bullet elment */
	width: 16px;
	height: 16px;
	background: url('../images/b05.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div {
	background-position: -7px -7px;
}
.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px;
}
.jssorb05 .av {
	background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}
/* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
.jssora22l, .jssora22r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 58px;
	cursor: pointer;
	background: url('../images/a22.png') center center no-repeat;
	overflow: hidden;
}
.jssora22l {
	background-position: -10px -31px;
}
.jssora22r {
	background-position: -70px -31px;
}
.jssora22l:hover {
	background-position: -130px -31px;
}
.jssora22r:hover {
	background-position: -190px -31px;
}
.jssora22l.jssora22ldn {
	background-position: -250px -31px;
}
.jssora22r.jssora22rdn {
	background-position: -310px -31px;
}

@media screen and (max-width:2560px) {
	ul.listings {
		width:100%;
		margin:0 auto;
		display:flex;
		flex-flow:row wrap;
		justify-content:center;
	}
	ul.listings > li.list-items {
		width:18%;
		margin:0.5em;
		display:flex;
	}
}
@media screen and (max-width:2559px) {
	ul.listings > li.list-items {
		width:20%;
	}
}
@media screen and (max-width:1024px) {
	ul.listings > li.list-items {
		width:31%;
	}
}
@media screen and (max-width:800px) {
	ul.listings > li.list-items {
		width:45%;
	}
	ul.listings > li.list-items a {
		display:flex;
	}
	ul.listings > li.list-items, ul.listings > li.list-items a, ul.listings > li.list-items a section {
/* 		flex-grow:1; */
	}

}
@media screen and (max-width:480px) {
#tableWrap {
/*     overflow-x: hidden; */
	display:table !important;
	width:100%;
}
.tableBlock {
    display: table !important;
    border-collapse: separate;
    border-spacing: 0px;
    /*margin: 0 -15px;*/
}
div#tableWrap > div.tableBlock {
	border-spacing:5px;
}
div#tableWrap > div.tableBlock {
	margin:0 0 -5px 0 !important;
}
.mlft10 {
	margin-left:10px !important;
}
.mb10 {
	margin-bottom:10px !important;
}
.tableRow {
    display: table-row !important;
}
.tableCell, .tableCell2 {
    display: table-cell !important;
    padding: 10px;
/*    border: 1px solid red;*/
	vertical-align:middle;
	text-align:center;
	font-family: 'Abel', sans-serif;
	font-size:16px;
	color:#000;
}
.tableCell a, .tableCell2 a {
	color:#ffffff;
	}
.tableCell {
    width: 40% !important;
}
.tableCell2 {
    width: 60% !important;
}
#tableWrap > div > div > div.tableCell.nopad > div div div.tableCell {
		width: 100%;
		padding: 10px !important;
	}
.nopad {
	padding:0px;
}
.noborder {
	border:none !important;	
}
.noborderspacing {
	border-spacing:0px !important;
}
.img40 {
	width:40% !important;
	height:auto !important;
	display:block;
	margin:0 auto;
	}
.img50 {
	width:50% !important;
	height:auto !important;
	display:block;
	margin:0 auto;
	}
	
.img70 {
width:70% !important;
height:auto !important;
display:block;
margin:0 auto;
}

.img60 {
width:60% !important;
height:auto !important;
display:block;
margin:0 auto;
}
	ul.listings > li.list-items {
		width:100%;
		margin:0 !important;
	}
ul.listings li.list-items a {
	padding:10px;
	color: #222222;
	font-family: 'Abel', sans-serif;
	font-size:1em;
	background:white;
	margin:0 0 1px 0 !important;
}
	ul.listings > li.list-items, #listings > li.list-items a, #listings > li.list-items a section {
		flex-grow:1;
	}	
}