<div class="bottommenu">
    <ul id="bm_ul">
        <li>
            <a href="#id05" style="text-decoration:none; outline:none;">
                <i class="fa fa-street-view"></i>
            </a>
        </li>
        <li>
            <a href="#id03" style="text-decoration:none; outline:none;">
                <i class="fa fa-map-marker"></i>
            </a>
        </li>
        <li>
            <a href="#id02" style="text-decoration:none; outline:none;">
                <i class="fa fa-info-circle"></i>
            </a>
        </li>
    </ul>
</div>
