<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <div class="panel-heading">
            <h4 class="panel-title">
            Fire Fighting Services 
          </h4>
        </div>
    </a>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
            <ul type="disc">
                <li>HD Kote | <a href="tel:+9108228 255101">08228 255101</a></li>
                <li>T Narasipura | <a href="tel:+9108227 2211601">08227 2211601</a></li>
                <li>Periyapatna | <a href="tel:+9108223 273101">08223 273101</a></li>
                <li>KR Nagara | <a href="tel:+9108223 263101">08223 263101</a></li>
                <li>Nanjangud | <a href="tel:+9108221 224144">08221 224144</a></li>
                <li>Hunsur | <a href="tel:+9108222 253300">08222 253300</a></li>
                <li>RBI | <a href="tel:+910821-2582103">0821-2582103</a></li>
                <li>Pradeshika Kacheri Mysore | <a href="tel:+910821-2540116">0821-2540116</a></li>
                <li>District Fire Office | <a href="tel:+910821-2493101">0821-2493101</a></li>
                <li>Saraswatipuram Mysore | <a href="tel:+9108212540970">08212540970</a></li>
                <li>LPG Hebbal | <a href="tel:+9108212512101">08212512101</a></li>
                <li>Bannimantap Mysore | <a href="tel:+910821- 2495101">0821- 2495101</a></li>
            </ul>
        </div>
    </div>
</div>
