<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <div class="panel-heading">
            <h4 class="panel-title">
            Helplines 
          </h4>
        </div>
    </a>
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>Ambulance | <a href="tel:+91108">108</a></li>
                <li>KR Hospital Mysore | <a href="tel:+910821-0821-2423300">0821-0821-2423300</a></li>
                <li>Fire | <a href="tel:+91101">101</a>, <a href="tel:+912540970">2540970</a></li>
                <li>Police | <a href="tel:+91100">100</a>, <a href="tel:+910821">0821</a> - <a href="tel:+912418139">2418139</a> ,<a href="tel:+912418339">2418339</a></li>
                <li>Child Help Line | <a href="tel:+911098">1098</a>, <a href="tel:+910821-2418596">0821-2418596</a></li>
                <li>Women&rsquo;s Help Line | <a href="tel:+91105">105</a>, <a href="tel:+910821-2148400">0821-2148400</a></li>
                <li>Senior Citizen Helpline | <a href="tel:+911090">1090</a></li>
                <li>Mysuru KSRTC Bus-Stand | <a href="tel:+910821-2520853">0821-2520853</a></li>
                <li>Mysuru City Bus-Stand | <a href="tel:+910821-2425819">0821-2425819</a></li>
                <li>Mysuru Railway Enquiry | <a href="tel:+910821-2422751">0821-2422751</a></li>
            </ul>
        </div>
    </div>
</div>
