<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <div class="panel-heading">
            <h4 class="panel-title">
            <strong>Three Day</strong> - Ooty Conoor Tour from Mysuru 
          </h4>
        </div>
    </a>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    <strong>Ooty - Coonoor Tour Package 3 Days from Mysore</strong>
                    <br/>
                    <br/>
                    <strong>Day 1: Mysore to Ooty /Sightseeing</strong>
                    <br/>
                    <br/> Meet on arrival at Mysore railway station / bus stand and proceed to Ooty. En-route pass by <strong>Bandipur National forest,</strong> visit <strong>Pykara dam & house boat</strong>. On arrival to Ooty check into hotel. After lunch go for Ooty sightseeing <strong>Rose Garden, Ooty lake & Botanical Garden</strong>. Overnight stay at Ooty.
                    <br/>
                    <br/>
                </li>
                <li><strong>Day 2: Ooty & Coonoor Sightseeing</strong>
                    <br/>
                    <br/> After breakfast, proceed to Coonoor by Toy Train. Cab will reach by road and take you for Coonoor Sightseeing - <strong>Sim’s Park, Lam’s Rock, Dolphin Nose, Ketty Valley, Tea factory and Doddabetta Peak</strong>. Overnight stay at Ooty.
                </li>
                <li><strong>Day 3: Departure</strong>
                    <br/>
                    <br/> After breakfast, check out hotel, proceed Mysore. Visit <strong>6th & 9th Mile (Shooting Spots)</strong>. En-route pass by <strong>Nanjangud Nanjundeshwara Temple</strong>. Proceed back to Mysore and transfer to Mysore Railway Station / Bus Stand. Depart from Mysore to onward destination.
                </li>
            </ul>
        </div>
    </div>
</div>
