<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <div class="panel-heading">
            <h4 class="panel-title">
            <strong>Two Day</strong> - Mysuru Tour from Mysuru 
          </h4>
        </div>
    </a>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li><strong>Day 1: Arrive at Mysore / Sightseeing</strong>
                    <br/>
                    <br/> Meet on arrival at Mysore Railway Station / Bus Stand. Start Mysore sightseeing, visit <strong>Chamundi Hills</strong> to pay your obeisance to Goddess Chamundeshwari. On the way back to city you will see Statue of <strong>Mahishasura</strong> and <strong>Nandi</strong>. Pay a visit to Lalith Mahal Palace Hotel. And later visit <strong>Jaganmohan Palace Art Gallery</strong>. After lunch you will visit <strong>Mysore Palace</strong>, one of the largest palaces in the country and the beautiful <strong>St.Philomena's Church</strong> - the most majestic churches in India. Later drive to <strong>Brindavan Gardens</strong> a show garden that has botanical park with fountains as well as a musical fountain. Overnight stay at the hotel.
                    <br/>
                    <br/>
                </li>
                <li><strong>Day 2: Mysore Sightseeing / Departure</strong>
                    <br/>
                    <br/> After breakfast, visit and the <strong>Mysore Zoo</strong>, one of the oldest and well maintained Zoo in India. And also visit <strong>Karanji Lake</strong>, a picturesque lake located at the footsteps of Chamundi Hills. Later drive to Srirangapatna were you will visit <strong>Ranganathittu Bird Sanctuary, Sri Ranganatha Swamy Temple, Tipu's Summer Palace, Srirangapatna Fort, Gumbuz and Nimishamba Temple</strong>. Later at night transfer to Mysore Railway Station / Bus Stand. Depart from Mysore to onward destination.
                </li>
            </ul>
        </div>
    </div>
</div>
