<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <div class="panel-heading">
            <h4 class="panel-title">
            <strong>One Day</strong> - Mysuru Sight Seeings One Day 
          </h4>
        </div>
    </a>
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li><strong>Day 1: Arrive at Mysore / Sightseeing</strong>
                    <br/>
                    <br/> One day Mysore sightseeing tour in private car sightseeing covers the best of Mysore city tourist attractions including places of interests in Srirangapatana and also Brindavan Gardens. Mysore city tour will cover best of all in a day.
                    <br/>
                    <br/><strong>Chamundi Hills - Mysore Zoo - Mysore Palace Museum - Jaganmohana Palace - St.Philomena's Church - Sri Ranganatha Swamy Temple - Nimishamba Temple - Gumbuz / Ganjam - Tippu's Summer Palace - Brindavan Gardens.</strong>
                    <br/>
                    <br/>
                    <strong>Itinerary for One Day Mysore Local Sightseeing Cab Package</strong>
                    <br/>
                    <br/> Start Mysore city sightseeing tour. Visit <strong>Chamundi Hills</strong> to pay your obeisance to Goddess Chamundeshwari. On the way back to city you will see Statue of Mahishasura and Nandi and reach <strong>Mysore Zoo Garden</strong> and later visit <strong>Jaganmohana Palace Art Gallery</strong>. After lunch you will visit <strong>Mysore Palace</strong> and <strong>St. Philomena's Church</strong>. Later drive to Srirangapatna were you will visit <strong>Sri Ranganatha Swamy Temple, Tippu's Summer Palace, Srirangapatna Fort and Gumbuz</strong>. And after you will be going to visit Brindavan Gardens, a show garden with fountains and world famous musical fountain.
                </li>
            </ul>
        </div>
    </div>
</div>
