<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        <div class="panel-heading">
            <h4 class="panel-title">
            LPG Emergency Service ( For Gas Leakage Complaints Only) 
          </h4>
        </div>
    </a>
    <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
            <ul type="disc">
                <li>6.30 Pm – 8.30 Am <a href="tel:+911915">1915</a>/<a href="tel:+91244 5846">244 5846</a></li>
            </ul>
        </div>
    </div>
</div>
