<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>ILuv Mysuru | Main</title>
<link href="assets/css/style.css" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Abel|Baloo+Tamma|Courgette|Dosis|Poiret+One|Righteous" rel="stylesheet"> -->
<!--<link href="assets/css/media.css" rel="stylesheet">-->
<!-- <script type="text/javascript" src="cordova.js"></script> -->
<script type="text/javascript" src="index.js"></script>
<!-- <script src="assets/js/jquery-ui.min.js"></script> -->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jssor.slider-21.1.5.min.js"></script>
<!-- use jssor.slider-21.1.5.debug.js instead for debug -->
<script type="text/javascript" src="assets/js/carousel.js"></script>
<script src="assets/js/menu-jquery.js"></script>
<script src="assets/js/menu-jquery1.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqGeQYbKFe5SHRmLYypFG3Ctwtct0GzsQ&v=3"></script>
<!-- @if devBuild="development" -->
<!-- @endif -->
<!-- @if devBuild="production" -->
<!-- <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>ILuv Mysuru | Main</title>
<link href="assets/css/style.css" rel="stylesheet">
<script src="assets/js/main.js"></script> -->
<!-- @endif -->
