<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <div class="panel-heading">
            <h4 class="panel-title">
            Police Stations 
          </h4>
        </div>
    </a>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <ul type="disc">
                <li>Ashok Puram | <a href="tel:+910821-2418321">0821-2418321</a></li>
                <li>Devaraj Mohalla | <a href="tel:+910821-2418306">0821-2418306</a></li>
                <li>F2 Traffic Police Station | <a href="tel:+912418126">2418126</a></li>
                <li>J.L Puram | <a href="tel:+910821-2418516">0821-2418516</a></li>
                <li>K.R. Police Station | <a href="tel:+910821-2418119">0821-2418119</a></li>
                <li>Kuvempunagar | <a href="tel:+910821-2418324">0821-2418324</a></li>
                <li>LakshmiPuram | <a href="tel:+910821-2418320">0821-2418320</a></li>
                <li>Mandi Mohalla | <a href="tel:+910821-2418313">0821-2418313</a></li>
                <li>Metagalli | <a href="tel:+910821-2418315">0821-2418315</a></li>
                <li>Narasimaharaja Mohalla | <a href="tel:+910821-2418312">0821-2418312</a></li>
                <li>Nazarbad | <a href="tel:+910821-2418308">0821-2418308</a></li>
                <li>Saraswathipuram | <a href="tel:+910821-2418123">0821-2418123</a></li>
                <li>Udayagiri | <a href="tel:+910821-2418309">0821-2418309</a></li>
                <li>V.V Mohalla | <a href="tel:+910821-2418314">0821-2418314</a></li>
                <li>Vidyaranyapuram | <a href="tel:+910821-2418122">0821-2418122</a></li>
                <li>Vijayanagar | <a href="tel:+910821-2418317">0821-2418317</a></li>
            </ul>
        </div>
    </div>
</div>
