<div id="preheader">
    <ul>
        <div class="my-jumbotron">
            <li style="width:55%;">
                <div class="icon-menu"> <i class="fa fa-bars"></i><span style="padding-left:10px;">ILuv Mysuru</span></div>
            </li>
            <li style="width:43%; text-align:right; margin-top:15px; padding-right:5px;">
                <!--<a href="#" style="outline:none !important;"><i class="fa fa-facebook"></i></a>
         <a href="#" style="outline:none !important;"><i class="fa fa-twitter"></i></a>
         <a href="#" style="outline:none !important;"><i class="fa fa-instagram"></i></a>-->
                <a class="fb-like" data-href="https://www.facebook.com/ILuv-Mysuru-654462654720870/" data-width="200" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></a>
                <a href="https://twitter.com/IluvMysuru" title="Follow @IluvMysuru on Twitter" target="_blank" class="twitter" style="" data-show-count="false">Follow</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
        </div>
    </ul>
</div>
