<div id="preheader">
    <ul>
        <div class="my-jumbotron">
            <li style="width:55%;">
                <div class="icon-menu"> <i class="fa fa-bars"></i><span style="padding-left:10px;">ILuv Mysuru</span></div>
            </li>
            <li style="width:43%; text-align:right; padding-top:12px;">
                <form method="get" action="/search" id="search">
                    <input name="q" type="text" size="20" placeholder="Search..." style="outline:none;" class="searchoutline" />
                </form>
            </li>
        </div>
    </ul>
</div>
