	<div class="bottommenu">
      <ul id="bm_ul">
        <li> 
        	<a href="#id05" style="text-decoration:none; outline:none;">
            	<img src="master/images/nearby.png" height="20" width="20">
            </a>
        </li>
        <li>
        	<a href="#id03" style="text-decoration:none; outline:none;">
        		<img src="master/images/map.png" height="20" width="20"> 
            </a>
        </li>
        <li> 
        	<a href="#id02" style="text-decoration:none; outline:none;">
        		<img src="master/images/info.png" height="20" width="20">
            </a>
        </li>
      </ul>
    </div>