<div id="preheader">
    <ul>
      <div class="jumbotron">
        <li style="width:55%;">
          <div class="icon-menu"> <i class="fa fa-bars"></i><span style="padding-left:10px;">ILuv Mysuru</span></div>
        </li>
        <li style="width:43%; text-align:right;">
         <a href="#" style="outline:none !important;"><img src="master/images/fb.png"/></a>
         <a href="#" style="outline:none !important;"><img src="master/images/twit.png"/></a>
         <a href="#" style="outline:none !important;"><img src="master/images/inst.png"/></a>
         <a href="#" style="outline:none !important;"><img src="master/images/tumb.png"/></a>
        </li>
      </div>
    </ul>
</div>