<div id="preheader">
    <ul>
      <div class="my-jumbotron">
        <li style="width:55%;">
          <div class="icon-menu"> <i class="fa fa-bars"></i><span style="padding-left:10px;">ILuv Mysuru</span></div>
        </li>
        <li style="width:43%; text-align:right;">
         <a href="#" style="outline:none !important;"><i class="fa fa-facebook"></i></a>
         <a href="#" style="outline:none !important;"><i class="fa fa-twitter"></i></a>
         <a href="#" style="outline:none !important;"><i class="fa fa-instagram"></i></a>
         <a href="#" style="outline:none !important;"><i class="fa fa-tumblr"></i></a>
        </li>
      </div>
    </ul>
</div>