<div class="menu"> 
    
    <!-- Menu icon -->
    
    <div class="icon-close"> <i class="fa fa-close"></i> <a style="font-family: 'Abel', sans-serif;">CLOSE</a></div>
    
    <!-- Menu -->
    
    <ul>
      <a href="main.html">
      <li class="menuli">
        <div><img src="master/images/home.png"/></div>
        <div style=" margin-left:40px; margin-top:-48px;">Home</div>
      </li>
      </a> <a href="placesofinterest.html">
      <li class="menuli">
        <div><img src="master/images/poi.png"/></div>
        <div style=" margin-left:40px; margin-top:-48px;">Places of Interest</div>
      </li>
      </a> <a href="hotelslodging.html">
      <li class="menuli">
        <div><img src="master/images/hotlod.png"/></div>
        <div style=" margin-left:40px; margin-top:-48px;">Hotels & Lodging</div>
      </li>
      </a> <a href="upcomingevents.html">
      <li class="menuli">
        <div><img src="master/images/events.png"/></div>
        <div style=" margin-left:40px; margin-top:-48px;">Upcoming Events</div>
      </li>
      </a> <a href="finedine.html">
      <li class="menuli">
        <div><img src="master/images/finedine.png"/></div>
        <div style=" margin-left:40px; margin-top:-48px;">Restaurants</div>
      </li>
      </a> <a href="lifestyle.html">
      <li class="menuli">
        <div><img src="master/images/lifestyle.png"/></div>
        <div style=" margin-left:40px; margin-top:-48px;">Lifestyle & Fashion</div>
      </li>
      </a> <a href="history.html">
      <li class="menuli">
        <div><img src="master/images/history.png"/></div>
        <div style=" margin-left:40px; margin-top:-48px;">History & Geography</div>
      </li>
      </a> <a href="help.html">
      <li class="menuli">
        <div><img src="master/images/help.png"/></div>
        <div style=" margin-left:40px; margin-top:-48px;">Help</div>
      </li>
      </a>
      <div style="text-align:center; color:#ffffff; padding-top:10px; font-size:10px;">&copy; 2016 Theorem Inc - All Rights Reserved</div>
    </ul>
  </div>