/* Initial body */

body {
	left: 0;
	margin: 0;
	position: relative;
}
/* Initial menu */

.menu {
	background: #47a3da repeat left top;
	/*margin-left: -285px;*/
	/* start off behind the scenes */
	
	height: 0px;
	position: fixed;
	width: 285px;
	z-index: 1;
	overflow: auto;
}
/* Basic styling */

.my-jumbotron {
	background-color: #000;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#preheader .my-jumbotron li:nth-of-type(2) a, .my-jumbotron li:nth-of-type(2) a:hover, .my-jumbotron li:nth-of-type(2) a:focus, .my-jumbotron li:nth-of-type(2) a:active {
/*	font-size:1.5em;*/
	color: #ffffff;
/*	padding: 10px 10px 10px 0px;*/
	display:inline-block;
}

a.twitter {font-family:arial; font-size: 12px; background-color: #55acee; height: 20px; width: 60px; text-align: center; font-weight: bold; border-radius: 3px !important; line-height:22px;}
a.twitter:hover, a.twitter:focus {
	background-color:#0c7abf;
	}
	
a.twitter:before {
  content: "\f099";
  margin-right: 0.5em;
  color:#ffffff;
  font-family: FontAwesome;
}

.menu ul {
	border-top: 1px solid #258ecd;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li {
	border-bottom: 1px solid #258ecd;
	font-family: 'Abel', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}
.menu a, .menu a:hover,.menu a:focus, .menu a:active {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}
.icon-close {
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
	color: #fff;
}
.icon-close a {
	cursor : pointer;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}
.icon-menu {
	color: #fff;
	cursor: pointer;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	font-weight:bold;
	padding-bottom: 10px;
	padding-left: 9px;
	padding-top: 10px;
	text-decoration: none;
h1 {
	color: #fff;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
}
.jquery-script-ads {
	padding-left: 25px;
}
.icon-menu i {
	margin-right: 5px;
}
p {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}
.menuli {
	float: none !important;
}
